@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <header>    
        <h1>UABC</h1>
        <h3>Sistema</h3>
    </header>

    <section>
        <p>Sistema en desarrollo</p>
    </section>
</div>